<%= form_with model: product, local: true do |f|%>
  <div class="field">
    <%= f.label :name, "作品の名称" %><br />
    <%= f.text_field :name, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :text, "作品の説明" %><br />
    <%= f.text_area :text, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :image, "作品の画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :three_data, "作品の3Dデータ" %><br />
    <%= f.file_field :three_data, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>